strict-rfc3339==0.7
# https://pypi.org/project/strict-rfc3339/
# https://github.com/danielrichman/strict-rfc3339
# 0.7 was the last release, in 2016.
# Unmaintained, the maintainer's last activity of any kind on github was in 2020, and their website is down (in Nov 2024)
# but the project is self-contained so may not be a problem.
# In future we may need to find a fork just to keep the python packaging aspect up-to-date, it's still using distutils.

rfc3987==1.3.8
# https://pypi.org/project/rfc3987/
# https://codeberg.org/atufi/rfc3987
# The last release was 1.3.8 in 2018, but source repo has recent packaging-related commits, still supports Py3.8.
# Small project, unspecified versioning policy.

requests[socks]>=2.26.0,<2.33
# https://requests.readthedocs.io/en/stable/
# Drops support for Py3.8 in 2.32.0 (2024-05-20)
# I can't find a stated versioning policy, read the Deprecations sections of the changelog when updating this entry:
# Changelog: https://docs.python-requests.org/en/latest/community/updates/#release-history

apsw>=3.35,<3.47
# https://rogerbinns.github.io/apsw/
# https://pypi.org/project/apsw/
# https://github.com/rogerbinns/apsw/
# Versioning policy is "they'll try not to break things", and it doesn't look like there have been compatibility breaks
#   in a long time.
#   https://rogerbinns.github.io/apsw/about.html#backwards-compatibility
#   Still, check the changelog when updating this entry.
# Changelog: https://rogerbinns.github.io/apsw/changes.html


lib360dataquality @ git+https://github.com/ThreeSixtyGiving/dataquality.git@59a64eebc6229d282ac74b25a08f35cf26814742
# Used for validation and conversion
